RewriteEngine On
RewriteCond %{HTTP_HOST} rmssoft\.co.za [NC]
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^(.*)$ /html/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]